*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;

    // common font
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,span,ul,li{
    padding: 0;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

ol,ul,li{
    list-style: none;
}